<div class="flex pb-2">
  <div class="min-w-50">
    {{ from }} - {{ to }}
  </div>
  <div>
    <h2 class="font-bold text-lg">{{title}}</h2>
    <p class="italic">{{subtitle}}</p>
    <ul class="list-disc list-inside">
      {{#each desc}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
</div>